body{
	background: cyan;
	margin: 10%;
}

h1{
	text-align: center;
	font-size: 60px;
	color: violet;
}

a{
	margin-right: 15px;
}


a:hover{
	color: black;
	background: white;
}

.margin_indent{
	margin: 5%;
}
